<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>business-processes</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>business-processes</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-2b1a4647f98b46089fb85ccd5137f3f8.png" alt="business-processes" usemap="#id-2b1a4647f98b46089fb85ccd5137f3f8map"/>
			   <map name="id-2b1a4647f98b46089fb85ccd5137f3f8map">
				  		<area shape="rect" coords="27,37,147,92" href="../elements/id-3b63488fd04c4c31ab7816fe2ef9f849.html"  target="element">
				  		<area shape="rect" coords="16,149,152,177" href="../elements/id-31acd7a25b214ffe92bbf8595b29843c.html"  target="element">
				  		<area shape="rect" coords="536,159,676,185" href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html"  target="element">
				  		<area shape="rect" coords="547,72,667,127" href="../elements/id-f23b609394ac498c9d78e097e048e434.html"  target="element">
				  		<area shape="rect" coords="536,10,677,38" href="../elements/id-2c8242060dd74c74aeeedec33b71f7bb.html"  target="element">
				  				<area shape="rect" coords="34,276,154,331" href="../elements/id-6a4bb28c397642888496da766b787c26.html"  target="element">

				  		<area shape="rect" coords="10,240,178,345" href="../elements/id-75f2799aa0234e8d9b4af5176f69cea3.html"  target="element">
				  				<area shape="rect" coords="356,275,476,330" href="../elements/id-cbaf8706b1434be3a1d7c660417949f3.html"  target="element">
				  				<area shape="rect" coords="224,275,344,330" href="../elements/id-da7615b48ccc4069aa0f8d1712597cce.html"  target="element">

				  		<area shape="rect" coords="200,239,501,347" href="../elements/id-769969c915db4b9cb773812c4529e21f.html"  target="element">
				  				<area shape="rect" coords="358,46,478,101" href="../elements/id-4d78d5decb3b4ab7bcca2de7ad601f61.html"  target="element">
				  				<area shape="rect" coords="224,46,344,101" href="../elements/id-4a29f69acf3e4b63bbe68e8b213ad47a.html"  target="element">

				  		<area shape="rect" coords="200,10,500,118" href="../elements/id-d513fddf0f3f464da661444020f4193a.html"  target="element">
				  				<area shape="rect" coords="545,272,663,336" href="../elements/id-036d4b39158c4766bef59e7b00e8e00d.html"  target="element">

				  		<area shape="rect" coords="524,239,689,348" href="../elements/id-b3a9ba30356d4438aa104f536651fa76.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-b3a9ba30356d4438aa104f536651fa76.html" target="element"> Register result </a> </td>
											    <td> <a href="../elements/id-b3a9ba30356d4438aa104f536651fa76.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-036d4b39158c4766bef59e7b00e8e00d.html" target="element"> register module result in ladok </a> </td>
													    <td> <a href="../elements/id-036d4b39158c4766bef59e7b00e8e00d.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element"> Grade assignment-or-exam </a> </td>
											    <td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-4a29f69acf3e4b63bbe68e8b213ad47a.html" target="element"> assess-and-grade </a> </td>
													    <td> <a href="../elements/id-4a29f69acf3e4b63bbe68e8b213ad47a.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4d78d5decb3b4ab7bcca2de7ad601f61.html" target="element"> register grade in Canvas </a> </td>
													    <td> <a href="../elements/id-4d78d5decb3b4ab7bcca2de7ad601f61.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element"> Grade control </a> </td>
											    <td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-da7615b48ccc4069aa0f8d1712597cce.html" target="element"> check if student is registered </a> </td>
													    <td> <a href="../elements/id-da7615b48ccc4069aa0f8d1712597cce.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-cbaf8706b1434be3a1d7c660417949f3.html" target="element"> authorise-grade </a> </td>
													    <td> <a href="../elements/id-cbaf8706b1434be3a1d7c660417949f3.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-75f2799aa0234e8d9b4af5176f69cea3.html" target="element"> View result </a> </td>
											    <td> <a href="../elements/id-75f2799aa0234e8d9b4af5176f69cea3.html" target="element" class="i18n-elementtype-BusinessProcess"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-6a4bb28c397642888496da766b787c26.html" target="element"> retrieve grade from Canvas </a> </td>
													    <td> <a href="../elements/id-6a4bb28c397642888496da766b787c26.html" target="element" class="i18n-elementtype-BusinessFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-2c8242060dd74c74aeeedec33b71f7bb.html" target="element"> Teacher </a> </td>
											    <td> <a href="../elements/id-2c8242060dd74c74aeeedec33b71f7bb.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element"> LTU-employee </a> </td>
											    <td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
											    <td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-31acd7a25b214ffe92bbf8595b29843c.html" target="element"> Student </a> </td>
											    <td> <a href="../elements/id-31acd7a25b214ffe92bbf8595b29843c.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-3b63488fd04c4c31ab7816fe2ef9f849.html" target="element"> assignment-or-exam-event </a> </td>
											    <td> <a href="../elements/id-3b63488fd04c4c31ab7816fe2ef9f849.html" target="element" class="i18n-elementtype-BusinessEvent"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-c755422cc4cf474ba2bb7df0b3226316.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c755422cc4cf474ba2bb7df0b3226316.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-b3a9ba30356d4438aa104f536651fa76.html" target="element"> Register result </a> </td>
																		<td> <a href="../elements/id-036d4b39158c4766bef59e7b00e8e00d.html" target="element"> register module result in ladok </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-e454e3c5bfd74ec7a69c8108dbcacd28.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e454e3c5bfd74ec7a69c8108dbcacd28.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element"> Grade assignment-or-exam </a> </td>
																		<td> <a href="../elements/id-4a29f69acf3e4b63bbe68e8b213ad47a.html" target="element"> assess-and-grade </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e3e31ca59dd044108c171c5bd5824673.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e3e31ca59dd044108c171c5bd5824673.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element"> Grade assignment-or-exam </a> </td>
																		<td> <a href="../elements/id-4d78d5decb3b4ab7bcca2de7ad601f61.html" target="element"> register grade in Canvas </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/id-0525b20cfc6c45b4b064af16f61fbe3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0525b20cfc6c45b4b064af16f61fbe3c.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element"> Grade control </a> </td>
																		<td> <a href="../elements/id-da7615b48ccc4069aa0f8d1712597cce.html" target="element"> check if student is registered </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-94849b95d67b42b1ac59efbb76324e2a.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-94849b95d67b42b1ac59efbb76324e2a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element"> Grade control </a> </td>
																		<td> <a href="../elements/id-cbaf8706b1434be3a1d7c660417949f3.html" target="element"> authorise-grade </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-d80a85412bb2418287e42b7b8da5d707.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-d80a85412bb2418287e42b7b8da5d707.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-cbaf8706b1434be3a1d7c660417949f3.html" target="element"> authorise-grade </a> </td>
																				<td> <a href="../elements/id-b3a9ba30356d4438aa104f536651fa76.html" target="element"> Register result </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-47f5d968c15b4f58b31d85ea950fd61d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-47f5d968c15b4f58b31d85ea950fd61d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/id-75f2799aa0234e8d9b4af5176f69cea3.html" target="element"> View result </a> </td>
																		<td> <a href="../elements/id-6a4bb28c397642888496da766b787c26.html" target="element"> retrieve grade from Canvas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-04180f9fa7ed45148d0f358d2683467a.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-04180f9fa7ed45148d0f358d2683467a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-6a4bb28c397642888496da766b787c26.html" target="element"> retrieve grade from Canvas </a> </td>
																				<td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element"> Grade control </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9c5c0ced2ff94f7abb30163b72bfaf90.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9c5c0ced2ff94f7abb30163b72bfaf90.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-2c8242060dd74c74aeeedec33b71f7bb.html" target="element"> Teacher </a> </td>
																		<td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element"> Grade assignment-or-exam </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-437f95d535264881b3dfb6b0396bacf2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-437f95d535264881b3dfb6b0396bacf2.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element"> LTU-employee </a> </td>
																		<td> <a href="../elements/id-2c8242060dd74c74aeeedec33b71f7bb.html" target="element"> Teacher </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6ed459723c3c49eeaf23a054f56fa0b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ed459723c3c49eeaf23a054f56fa0b5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element"> LTU-employee </a> </td>
																		<td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-39f6047540b549eaa57cb3dcfaa775a9.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-39f6047540b549eaa57cb3dcfaa775a9.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
																		<td> <a href="../elements/id-769969c915db4b9cb773812c4529e21f.html" target="element"> Grade control </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2c2778688c5b43118a7685d1391db432.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2c2778688c5b43118a7685d1391db432.html" target="element" class="i18n-elementtype-AssignmentRelationship"></a> </td>
																		<td> <a href="../elements/id-31acd7a25b214ffe92bbf8595b29843c.html" target="element"> Student </a> </td>
																		<td> <a href="../elements/id-75f2799aa0234e8d9b4af5176f69cea3.html" target="element"> View result </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-110e1ae2d0d740b5872e5fe01461289f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-110e1ae2d0d740b5872e5fe01461289f.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-31acd7a25b214ffe92bbf8595b29843c.html" target="element"> Student </a> </td>
																		<td> <a href="../elements/id-3b63488fd04c4c31ab7816fe2ef9f849.html" target="element"> assignment-or-exam-event </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c555cd030e034176ab76bcc0ac1ca7fe.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c555cd030e034176ab76bcc0ac1ca7fe.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-3b63488fd04c4c31ab7816fe2ef9f849.html" target="element"> assignment-or-exam-event </a> </td>
																		<td> <a href="../elements/id-d513fddf0f3f464da661444020f4193a.html" target="element"> Grade assignment-or-exam </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>