<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>api-structure</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>api-structure</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-59081cb21c454f17b161a9ab89fe4d3b.png" alt="api-structure" usemap="#id-59081cb21c454f17b161a9ab89fe4d3bmap"/>
			   <map name="id-59081cb21c454f17b161a9ab89fe4d3bmap">
				  		<area shape="rect" coords="174,560,294,615" href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html"  target="element">
				  		<area shape="rect" coords="543,548,663,603" href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html"  target="element">
				  		<area shape="rect" coords="308,548,428,603" href="../elements/id-151517e8c7364031af939ad01e670fe1.html"  target="element">
				  		<area shape="rect" coords="754,74,898,129" href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html"  target="element">
				  		<area shape="rect" coords="754,160,898,203" href="../elements/id-f23b609394ac498c9d78e097e048e434.html"  target="element">
				  				<area shape="rect" coords="49,701,169,756" href="../elements/id-346964bb094d46d99e92f222a5b92e50.html"  target="element">
				  				<area shape="rect" coords="191,740,311,795" href="../elements/id-d8c922c6b799457ea6c9f2eea9964c2e.html"  target="element">
				  				<area shape="rect" coords="476,707,596,762" href="../elements/id-f9f320db1a9345f59f09694fab467762.html"  target="element">
				  				<area shape="rect" coords="336,707,456,762" href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html"  target="element">
				  						<area shape="rect" coords="54,852,174,907" href="../elements/id-1fa8205ef76c48c3aadc04d9b13032e4.html"  target="element">
				  						<area shape="rect" coords="189,852,309,907" href="../elements/id-736c71eff219483bbcbe2dde17221a90.html"  target="element">
				  						<area shape="rect" coords="340,852,460,907" href="../elements/id-2da1a4396f3b4b108a5c5858dc6d2556.html"  target="element">
				  						<area shape="rect" coords="472,852,592,907" href="../elements/id-c99237c43d2542a8be3b929f9b3cb51c.html"  target="element">

				  				<area shape="rect" coords="22,816,611,925" href="../elements/id-95132d15863948109ad709c009264002.html"  target="element">

				  		<area shape="rect" coords="10,660,658,948" href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html"  target="element">
				  				<area shape="rect" coords="129,384,249,439" href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html"  target="element">
				  				<area shape="rect" coords="129,456,249,511" href="../elements/id-a13520377414488180d2071077d18244.html"  target="element">

				  		<area shape="rect" coords="105,336,285,529" href="../elements/id-674401958631498488615eccf9f309b8.html"  target="element">
				  				<area shape="rect" coords="450,385,570,440" href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html"  target="element">
				  				<area shape="rect" coords="450,452,570,507" href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html"  target="element">

				  		<area shape="rect" coords="436,337,604,528" href="../elements/id-402c90772f23479dbd83e884b3477303.html"  target="element">
				  				<area shape="rect" coords="283,130,403,185" href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html"  target="element">
				  				<area shape="rect" coords="283,58,403,113" href="../elements/id-095b277f36874cd0bb287227e50aa501.html"  target="element">

				  		<area shape="rect" coords="259,10,451,221" href="../elements/id-e994a478838c4ee9b1795c3fda64ef79.html"  target="element">
				  				<area shape="rect" coords="548,90,668,145" href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html"  target="element">

				  		<area shape="rect" coords="524,36,704,168" href="../elements/id-0395c31c3ae440f68785adedb87cac30.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-0395c31c3ae440f68785adedb87cac30.html" target="element"> HTTP-server </a> </td>
											    <td> <a href="../elements/id-0395c31c3ae440f68785adedb87cac30.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html" target="element"> web-app </a> </td>
													    <td> <a href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-e994a478838c4ee9b1795c3fda64ef79.html" target="element"> Spring-appserver-3 </a> </td>
											    <td> <a href="../elements/id-e994a478838c4ee9b1795c3fda64ef79.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-095b277f36874cd0bb287227e50aa501.html" target="element"> app-api </a> </td>
													    <td> <a href="../elements/id-095b277f36874cd0bb287227e50aa501.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html" target="element"> app-api </a> </td>
													    <td> <a href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-402c90772f23479dbd83e884b3477303.html" target="element"> Spring-appserver-2 </a> </td>
											    <td> <a href="../elements/id-402c90772f23479dbd83e884b3477303.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
													    <td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element"> examination-service-api </a> </td>
													    <td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-674401958631498488615eccf9f309b8.html" target="element"> Spring-appserver-1 </a> </td>
											    <td> <a href="../elements/id-674401958631498488615eccf9f309b8.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-a13520377414488180d2071077d18244.html" target="element"> student-service </a> </td>
													    <td> <a href="../elements/id-a13520377414488180d2071077d18244.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
													    <td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
											    <td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element" class="i18n-elementtype-Node"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
													    <td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
													</tr>

															<tr>
															    <td> <a href="../elements/id-c99237c43d2542a8be3b929f9b3cb51c.html" target="element"> LADOK </a> </td>
															    <td> <a href="../elements/id-c99237c43d2542a8be3b929f9b3cb51c.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-2da1a4396f3b4b108a5c5858dc6d2556.html" target="element"> EPOK </a> </td>
															    <td> <a href="../elements/id-2da1a4396f3b4b108a5c5858dc6d2556.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-736c71eff219483bbcbe2dde17221a90.html" target="element"> NyA </a> </td>
															    <td> <a href="../elements/id-736c71eff219483bbcbe2dde17221a90.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

															<tr>
															    <td> <a href="../elements/id-1fa8205ef76c48c3aadc04d9b13032e4.html" target="element"> StudentITS </a> </td>
															    <td> <a href="../elements/id-1fa8205ef76c48c3aadc04d9b13032e4.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
															</tr>

													
													<tr>
													    <td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
													    <td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
													    <td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-d8c922c6b799457ea6c9f2eea9964c2e.html" target="element"> nya-api </a> </td>
													    <td> <a href="../elements/id-d8c922c6b799457ea6c9f2eea9964c2e.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-346964bb094d46d99e92f222a5b92e50.html" target="element"> studentits-api </a> </td>
													    <td> <a href="../elements/id-346964bb094d46d99e92f222a5b92e50.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element"> LTU-employee </a> </td>
											    <td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element" class="i18n-elementtype-BusinessActor"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
											    <td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element" class="i18n-elementtype-BusinessRole"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element"> moduleObject </a> </td>
											    <td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element"> resultObject </a> </td>
											    <td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element"> studentObject </a> </td>
											    <td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-804d07e94f624cf587761c62476f084e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-804d07e94f624cf587761c62476f084e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-0395c31c3ae440f68785adedb87cac30.html" target="element"> HTTP-server </a> </td>
																		<td> <a href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html" target="element"> web-app </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-ad5b8fa7f44245fd9e258631861d8ed0.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-ad5b8fa7f44245fd9e258631861d8ed0.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																				<td> <a href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html" target="element"> web-app </a> </td>
																				<td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-a45db5054b944519ac4913d621b095b1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a45db5054b944519ac4913d621b095b1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e994a478838c4ee9b1795c3fda64ef79.html" target="element"> Spring-appserver-3 </a> </td>
																		<td> <a href="../elements/id-095b277f36874cd0bb287227e50aa501.html" target="element"> app-api </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a06a43878bfb4477ac1ff381f87c602b.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a06a43878bfb4477ac1ff381f87c602b.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e994a478838c4ee9b1795c3fda64ef79.html" target="element"> Spring-appserver-3 </a> </td>
																		<td> <a href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html" target="element"> app-api </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-dbb4d66baabd47e488ecc04db67d95a1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-dbb4d66baabd47e488ecc04db67d95a1.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-095b277f36874cd0bb287227e50aa501.html" target="element"> app-api </a> </td>
																				<td> <a href="../elements/id-c12548c6e03d400aa62b618021e0e5fe.html" target="element"> web-app </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-9671fb4ca73c4987b6d35c276067f6d1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9671fb4ca73c4987b6d35c276067f6d1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-402c90772f23479dbd83e884b3477303.html" target="element"> Spring-appserver-2 </a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-8e7305cb24fb468aa50995377eaeb9f8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8e7305cb24fb468aa50995377eaeb9f8.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-402c90772f23479dbd83e884b3477303.html" target="element"> Spring-appserver-2 </a> </td>
																		<td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element"> examination-service-api </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-72e3a1a0b2f343469ffabeed591e54b6.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-72e3a1a0b2f343469ffabeed591e54b6.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element"> examination-service-api </a> </td>
																				<td> <a href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html" target="element"> app-api </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-3a6b4798d5a04171947ee23289702b39.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3a6b4798d5a04171947ee23289702b39.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-674401958631498488615eccf9f309b8.html" target="element"> Spring-appserver-1 </a> </td>
																		<td> <a href="../elements/id-a13520377414488180d2071077d18244.html" target="element"> student-service </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4c5c39299bb74d8e96f95559f163a72e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4c5c39299bb74d8e96f95559f163a72e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-674401958631498488615eccf9f309b8.html" target="element"> Spring-appserver-1 </a> </td>
																		<td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-e9a5964ea1ad4840af3da8bd2db39247.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9a5964ea1ad4840af3da8bd2db39247.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
																				<td> <a href="../elements/id-a403c7a5cbfc499e9c99fe4a4f6085c4.html" target="element"> app-api </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
																				<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-00199c78f06a438597af8adfde14fdbb.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-00199c78f06a438597af8adfde14fdbb.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
																		<td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c8660db5e7e54c249e40ed55503f15ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c8660db5e7e54c249e40ed55503f15ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
																		<td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-3d1d6bff8b284beca7efd3c29f753ed6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-3d1d6bff8b284beca7efd3c29f753ed6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
																		<td> <a href="../elements/id-346964bb094d46d99e92f222a5b92e50.html" target="element"> studentits-api </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-297f7b8c6d514e83828b358de80238c6.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-297f7b8c6d514e83828b358de80238c6.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
																		<td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-f17b92c551344b15addc759337690396.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f17b92c551344b15addc759337690396.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-5d8eda15d54e4568a87436314c06e9ba.html" target="element"> NodeJS-server </a> </td>
																		<td> <a href="../elements/id-d8c922c6b799457ea6c9f2eea9964c2e.html" target="element"> nya-api </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-3655ae8bb671452f832733d641c7c40d.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3655ae8bb671452f832733d641c7c40d.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
																				<td> <a href="../elements/id-1fa8205ef76c48c3aadc04d9b13032e4.html" target="element"> StudentITS </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-f7e9841c55b14a19a5be931ccb7fec62.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-f7e9841c55b14a19a5be931ccb7fec62.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
																				<td> <a href="../elements/id-c99237c43d2542a8be3b929f9b3cb51c.html" target="element"> LADOK </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-43d477a1e756434583b2a6008c1cc288.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-43d477a1e756434583b2a6008c1cc288.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
																				<td> <a href="../elements/id-2da1a4396f3b4b108a5c5858dc6d2556.html" target="element"> EPOK </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-cac034db21ee43b5a7171ca1fa577440.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-cac034db21ee43b5a7171ca1fa577440.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																				<td> <a href="../elements/id-95132d15863948109ad709c009264002.html" target="element"> nodemocks </a> </td>
																				<td> <a href="../elements/id-736c71eff219483bbcbe2dde17221a90.html" target="element"> NyA </a> </td>
																			</tr>

																					<tr>
																						<td> <a href="../elements/id-e7e0ffb6c85c40c68b4d0bcb8825f65d.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-e7e0ffb6c85c40c68b4d0bcb8825f65d.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-c99237c43d2542a8be3b929f9b3cb51c.html" target="element"> LADOK </a> </td>
																						<td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-36020f7e11c9444d990b40080b77bbb1.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-36020f7e11c9444d990b40080b77bbb1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-2da1a4396f3b4b108a5c5858dc6d2556.html" target="element"> EPOK </a> </td>
																						<td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-45710b307d924f299e53b804fd766653.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-45710b307d924f299e53b804fd766653.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-736c71eff219483bbcbe2dde17221a90.html" target="element"> NyA </a> </td>
																						<td> <a href="../elements/id-d8c922c6b799457ea6c9f2eea9964c2e.html" target="element"> nya-api </a> </td>
																					</tr>

																					<tr>
																						<td> <a href="../elements/id-5ee045f4b20a4b8cb3648a81343dbacd.html" target="element">  </a> </td>
																						<td> <a href="../elements/id-5ee045f4b20a4b8cb3648a81343dbacd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																						<td> <a href="../elements/id-1fa8205ef76c48c3aadc04d9b13032e4.html" target="element"> StudentITS </a> </td>
																						<td> <a href="../elements/id-346964bb094d46d99e92f222a5b92e50.html" target="element"> studentits-api </a> </td>
																					</tr>

													
																			<tr>
																				<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
																				<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
																				<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-87bdb45af17e460e82d6fa9d5f3f31fd.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-87bdb45af17e460e82d6fa9d5f3f31fd.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-346964bb094d46d99e92f222a5b92e50.html" target="element"> studentits-api </a> </td>
																				<td> <a href="../elements/id-a13520377414488180d2071077d18244.html" target="element"> student-service </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-6ed459723c3c49eeaf23a054f56fa0b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6ed459723c3c49eeaf23a054f56fa0b5.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-f23b609394ac498c9d78e097e048e434.html" target="element"> LTU-employee </a> </td>
																		<td> <a href="../elements/id-8ef66af3d8114093ad926b3f8827deb2.html" target="element"> Administrator </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ca7942013124cdc98a2cb1e78c545a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ca7942013124cdc98a2cb1e78c545a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element"> moduleObject </a> </td>
																		<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-c5f5c8f914b3462db171af7ca0a2c4c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5f5c8f914b3462db171af7ca0a2c4c1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element"> resultObject </a> </td>
																		<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4e31c524c9fd4f73bab3e5bbd4cc13c4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4e31c524c9fd4f73bab3e5bbd4cc13c4.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element"> studentObject </a> </td>
																		<td> <a href="../elements/id-87bdb45af17e460e82d6fa9d5f3f31fd.html" target="element">  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-63cf220b712c42c1a9808e0d1e879a3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63cf220b712c42c1a9808e0d1e879a3c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element"> studentObject </a> </td>
																		<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>