<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>examination-service</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>examination-service</b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-84d925b76ff740e594d201c1be061347.png" alt="examination-service" usemap="#id-84d925b76ff740e594d201c1be061347map"/>
			   <map name="id-84d925b76ff740e594d201c1be061347map">
				  		<area shape="rect" coords="10,447,130,502" href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html"  target="element">
				  		<area shape="rect" coords="409,576,529,631" href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html"  target="element">
				  		<area shape="rect" coords="215,576,335,631" href="../elements/id-f9f320db1a9345f59f09694fab467762.html"  target="element">
				  		<area shape="rect" coords="71,576,191,631" href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html"  target="element">
				  		<area shape="rect" coords="500,447,620,502" href="../elements/id-151517e8c7364031af939ad01e670fe1.html"  target="element">
				  		<area shape="rect" coords="301,447,421,502" href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html"  target="element">
				  		<area shape="rect" coords="250,10,370,65" href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html"  target="element">
				  				<area shape="rect" coords="176,129,406,159" href="../elements/id-bec1afc5de64409d95c43f979a016a0a.html"  target="element">
				  				<area shape="rect" coords="176,169,408,198" href="../elements/id-4fda7909f5e44e34afd06d3474888ae6.html"  target="element">
				  				<area shape="rect" coords="497,152,780,188" href="../elements/id-f983721344b241b3a3e91b185c00311c.html"  target="element">
				  				<area shape="rect" coords="499,207,778,239" href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html"  target="element">
				  				<area shape="rect" coords="175,221,411,248" href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html"  target="element">
				  				<area shape="rect" coords="173,314,412,344" href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html"  target="element">
				  				<area shape="rect" coords="176,370,409,400" href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html"  target="element">
				  				<area shape="rect" coords="175,267,411,295" href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html"  target="element">

				  		<area shape="rect" coords="143,106,800,422" href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
											    <td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element" class="i18n-elementtype-ApplicationComponent"> </a> </td>
											</tr>

													<tr>
													    <td> <a href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html" target="element"> get-modules-by-course-code </a> </td>
													    <td> <a href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html" target="element"> create-or-update-result-in-ladok </a> </td>
													    <td> <a href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html" target="element"> authorise-grade </a> </td>
													    <td> <a href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html" target="element"> get-student-registration-status </a> </td>
													    <td> <a href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
													    <td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element"> assessment-and-grade-recording </a> </td>
													    <td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element" class="i18n-elementtype-ApplicationService"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-4fda7909f5e44e34afd06d3474888ae6.html" target="element"> get-grade-from-canvas </a> </td>
													    <td> <a href="../elements/id-4fda7909f5e44e34afd06d3474888ae6.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

													<tr>
													    <td> <a href="../elements/id-bec1afc5de64409d95c43f979a016a0a.html" target="element"> set-grade-in-canvas </a> </td>
													    <td> <a href="../elements/id-bec1afc5de64409d95c43f979a016a0a.html" target="element" class="i18n-elementtype-ApplicationFunction"> </a> </td>
													</tr>

											
											<tr>
											    <td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element"> examination-service-api </a> </td>
											    <td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element"> resultObject </a> </td>
											    <td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element"> moduleObject </a> </td>
											    <td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
											    <td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
											    <td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
											    <td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element" class="i18n-elementtype-ApplicationInterface"> </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element"> studentObject </a> </td>
											    <td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element" class="i18n-elementtype-DataObject"> </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-4a571ea3628a4ef6b2a763078d9e21ef.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4a571ea3628a4ef6b2a763078d9e21ef.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-f4ce8b7f9a9f434e99a6b1759e640973.html" target="element"> examination-service-api </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-824c5b76e8144ea6aebaf2cac673932f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-824c5b76e8144ea6aebaf2cac673932f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html" target="element"> get-modules-by-course-code </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-baea24cd84fa42e28047b0b9740bb43f.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-baea24cd84fa42e28047b0b9740bb43f.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html" target="element"> create-or-update-result-in-ladok </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-aef7804b00c249dfbed264f443d0df04.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-aef7804b00c249dfbed264f443d0df04.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html" target="element"> authorise-grade </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-2462ccf2f9134c5e81a3862338325cd1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2462ccf2f9134c5e81a3862338325cd1.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html" target="element"> get-student-registration-status </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c6f491baa9364b18a59c4fb447dfdedd.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c6f491baa9364b18a59c4fb447dfdedd.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef506e4a64d4427a962bb38cfd8935fa.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef506e4a64d4427a962bb38cfd8935fa.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element"> assessment-and-grade-recording </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-78e7d31e7ebc4031b5310d4e1f9b1648.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-78e7d31e7ebc4031b5310d4e1f9b1648.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-4fda7909f5e44e34afd06d3474888ae6.html" target="element"> get-grade-from-canvas </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-ef91e397a21141f2927411a0cebc11a5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-ef91e397a21141f2927411a0cebc11a5.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																		<td> <a href="../elements/id-bec1afc5de64409d95c43f979a016a0a.html" target="element"> set-grade-in-canvas </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/id-5489e98f0f8644598c5a2aafdf14d31f.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-5489e98f0f8644598c5a2aafdf14d31f.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html" target="element"> get-modules-by-course-code </a> </td>
																				<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-7e5be5482baf4294b63ea51dea291fab.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-7e5be5482baf4294b63ea51dea291fab.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-3a5a0a30bf5c4ec7abe6a4fe383f3498.html" target="element"> get-modules-by-course-code </a> </td>
																				<td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element"> assessment-and-grade-recording </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-4ab1d6464fbe4ab88b0a244e05b68cbf.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-4ab1d6464fbe4ab88b0a244e05b68cbf.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html" target="element"> create-or-update-result-in-ladok </a> </td>
																				<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-af3866e4d89943839b913d3674d887c2.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-af3866e4d89943839b913d3674d887c2.html" target="element" class="i18n-elementtype-TriggeringRelationship"></a> </td>
																				<td> <a href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html" target="element"> authorise-grade </a> </td>
																				<td> <a href="../elements/id-225aefbfb65d4f7393cd55ab78640d45.html" target="element"> create-or-update-result-in-ladok </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-c32fe307d2864e4ab12a6714a4be6a20.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-c32fe307d2864e4ab12a6714a4be6a20.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-40e9fd9a9ab64ebf8764bbac94f4b510.html" target="element"> authorise-grade </a> </td>
																				<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-0cb50e48c59041da92a87b753d005d77.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-0cb50e48c59041da92a87b753d005d77.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html" target="element"> get-student-registration-status </a> </td>
																				<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/id-3351839f73fd4a37be24ca83609e9cf4.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-3351839f73fd4a37be24ca83609e9cf4.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-641f7e4ecf9d49c7b39bd18435a0be24.html" target="element"> get-student-registration-status </a> </td>
																				<td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element"> assessment-and-grade-recording </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-9272df56406f4e8b9a60902b0ddb5221.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-9272df56406f4e8b9a60902b0ddb5221.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-4fda7909f5e44e34afd06d3474888ae6.html" target="element"> get-grade-from-canvas </a> </td>
																				<td> <a href="../elements/id-e2e9bea30dec406283125a6cba5c6853.html" target="element"> grade-control-and-registration </a> </td>
																			</tr>

																			<tr>
																				<td> <a href="../elements/id-78ec557e14f34c88a327b5117a202d05.html" target="element">  </a> </td>
																				<td> <a href="../elements/id-78ec557e14f34c88a327b5117a202d05.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																				<td> <a href="../elements/id-bec1afc5de64409d95c43f979a016a0a.html" target="element"> set-grade-in-canvas </a> </td>
																				<td> <a href="../elements/id-f983721344b241b3a3e91b185c00311c.html" target="element"> assessment-and-grade-recording </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/id-c5f5c8f914b3462db171af7ca0a2c4c1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c5f5c8f914b3462db171af7ca0a2c4c1.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-1fa878eb46c446468b2b6c6aebd1f1be.html" target="element"> resultObject </a> </td>
																		<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ca7942013124cdc98a2cb1e78c545a7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ca7942013124cdc98a2cb1e78c545a7.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-151517e8c7364031af939ad01e670fe1.html" target="element"> moduleObject </a> </td>
																		<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element">  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-66d335069a0a40eb9bf0089e66e7ce3b.html" target="element"> student-service-api </a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-b5c11329a7a449e3bacdc87f57c48d61.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-f9f320db1a9345f59f09694fab467762.html" target="element"> ladok-api </a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9fba52936fa4597847bd6689a688472.html" target="element" class="i18n-elementtype-ServingRelationship"></a> </td>
																		<td> <a href="../elements/id-ac888b88e89b40abb0757c6ac238ff73.html" target="element"> epok-api </a> </td>
																		<td> <a href="../elements/id-e5adecaba0cc40c9996b609d761f4f36.html" target="element"> examination-service </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-63cf220b712c42c1a9808e0d1e879a3c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-63cf220b712c42c1a9808e0d1e879a3c.html" target="element" class="i18n-elementtype-AssociationRelationship"></a> </td>
																		<td> <a href="../elements/id-c0e9b91c4c7a47148e517ddef5a40082.html" target="element"> studentObject </a> </td>
																		<td> <a href="../elements/id-e4f53014a5024dea8579da3ae47d81e1.html" target="element">  </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>